<aside class="sidebar-left">
  <h3>Games</h3>
  <ul>
    <li>
      <a href="/slot_fortune_forge_journey">Fortune Forge Journey</a>
    </li>
    <li>
      <a href="/slot_expanding_wilds">Expanding Wilds</a>
    </li>
    <li><a href="/hold81">Hold 81</a></li>
    <li><a href="/forex_simulator">UpDown Challenge</a></li>
    <li><a href="/keno_basic">Keno 40</a></li>
    <li><a href="/keno_magic_ball">Magic Ball Keno</a></li>
    <li><a href="/keno_stop_ball">Keno Stop Shot</a></li>
    <li><a href="/crazy_jumper">Crazy Jumper</a></li>

    <% if (!isProduction) { %>
    <li><a href="/game_1">Game 1</a></li>
    <% } %> <% if (!isProduction) { %>
    <li><a href="/example_slot">Example Slot</a></li>
    <% } %>
  </ul>
</aside>
