<h1>Both Way Slot</h1>

<!-- GAME CANVAS -->
<canvas id="slotBothWayCanvas" width="800" height="600"></canvas>

<!-- GAME DESCRIPTION -->
<div class="game-info">
  <h2>Both Way slot</h2>
  <p>
    Slot Both Ways is a 5-reel, 3-row slot where paylines are evaluated in both
    directions, left-to-right and right-to-left, giving you more chances to win
    on every spin.
  </p>
  <p>
    There is a wild symbol on central reel that boosts combinations in either
    direction.
  </p>

  <p>RTP is 104.07%</p>
  <div class="paytable-card">
    <h2 class="paytable-title">Paytable</h2>

    <table class="paytable-table">
      <thead>
        <tr>
          <th>Symbol</th>
          <th>3</th>
          <th>4</th>
          <th>5</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>
            <div class="symbol-cell">
              <img src="/assets/slot_both_way/symbol_1.png" alt="S1 - wild" />
            </div>
          </td>
          <td>15</td>
          <td>30</td>
          <td>100</td>
        </tr>

        <tr>
          <td>
            <div class="symbol-cell">
              <img src="/assets/slot_both_way/symbol_2.png" alt="S2" />
            </div>
          </td>
          <td>10</td>
          <td>20</td>
          <td>70</td>
        </tr>

        <tr>
          <td>
            <div class="symbol-cell">
              <img src="/assets/slot_both_way/symbol_3.png" alt="S3" />
            </div>
          </td>
          <td>8</td>
          <td>15</td>
          <td>50</td>
        </tr>

        <tr>
          <td>
            <div class="symbol-cell">
              <img src="/assets/slot_both_way/symbol_4.png" alt="S4" />
            </div>
          </td>
          <td>6</td>
          <td>10</td>
          <td>30</td>
        </tr>

        <tr>
          <td>
            <div class="symbol-cell">
              <img src="/assets/slot_both_way/symbol_5.png" alt="S5" />
            </div>
          </td>
          <td>2</td>
          <td>8</td>
          <td>15</td>
        </tr>

        <tr>
          <td>
            <div class="symbol-cell">
              <img src="/assets/slot_both_way/symbol_6.png" alt="S6" />
            </div>
          </td>
          <td>1</td>
          <td>2</td>
          <td>5</td>
        </tr>

        <tr>
          <td>
            <div class="symbol-cell">
              <img src="/assets/slot_both_way/symbol_7.png" alt="S7" />
            </div>
          </td>
          <td>0.5</td>
          <td>1</td>
          <td>2</td>
        </tr>
        <tr>
          <td>
            <div class="symbol-cell">
              <img src="/assets/slot_both_way/symbol_8.png" alt="S8" />
            </div>
          </td>
          <td>Wild Symbol</td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- JAVASCRIPT -->
<!-- Load Pixi from CDN -->
<script src="https://cdn.jsdelivr.net/npm/pixi.js@8/dist/pixi.min.js"></script>
<!-- GSAP CDN -->
<script src="https://cdn.jsdelivr.net/npm/gsap@3/dist/gsap.min.js"></script>

<!-- Load game code -->
<% if (!isProduction) { %>
<script type="module" src="/src/slot_both_way.js"></script>
<% } else { %>
<script type="module" src="/assets/slot_both_way.js"></script>
<% } %>
